@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');

@import "variables";
@import "mixin";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background-color: $cBlack;
  color: $cBlack;
  overflow-x: hidden;
  font-family: "Noto Sans JP", sans-serif;
}

header {
  position: relative;
  margin-bottom: 40px;
  min-height: 400px;

  @media screen and (min-width:800px){
    margin-bottom: 240px;
  }
}

.menu__button {
  position: fixed;
  right: 5px;
  top: 10px;
  width: 55px;
  height: 55px;
  z-index: 3;

  @media screen and (min-width:800px){
    display: none;
  }

  &.active {
    & .menu__button--bar {
      transition: 0.6s;
      &:nth-child(1) {
        transform: rotate(45deg);
        background-color: $cWhite;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        background-color: $cWhite;
      }
    }

    & .menu__button--text {
      opacity: 0;
    }
  }

  &--bar {
    position: absolute;
    top: 40%;
    left: 25%;
    display: block;
    width: 50%;
    height: 3px;
    background-color: $cWhite;

    &:nth-child(1) {
      transform: translateY(-10px);
    }

    &:nth-child(3) {
      transform: translateY(10px);
    }
  }

  &--text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2px;
    color: $cWhite;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Paytone One", sans-serif;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(75, 5, 5);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s;


  &.fixed{
    position: fixed;
    left: 0;
    top: 0;
    padding: 2px;
    background-color: $cBlack;

    & .menu__title{
      opacity: 0;
      visibility: hidden;
      padding: 0;
      height: 0;
    }

    & .menu__list{
      padding: 0;
      background-color: $cBlack;
      border-bottom: 1px solid $cWhite;

      a{
        span{
          display: none;
        }
      }
    }
  }

  @media screen and (min-width:800px){
    position: absolute;
    left: 0;
    top: 110%;
    opacity: 1;
    visibility: visible;
    background-color: $cRed;
    width: 100%;
    height: 70px;
    z-index: 100;
    padding: 8px 0;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    

    & .menu__list {
      li {
        opacity: 1;
        transition-delay: 0.6s;

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            transition: $i * 1s;
          }
        }
      }
    }
  }

  &__title{
    color: $cWhite;
    display: block;
    text-align: center;
    margin-bottom: 12px;
    font-size: 3rem;
    font-family: "Paytone One", sans-serif;
    background-color: $cRed;
    opacity: 0;
    visibility: hidden;
    padding: 8px;

    @media screen and (min-width:800px){
      opacity: 1;
      visibility: visible;
    }
  }

  &__list {
    color: $cWhite;
    padding: 48px;

    @media screen and (min-width:800px){
      display: flex;
      width: 100%;
      padding: 4px;
      background-color: $cRed;
    }

    li {
      position: relative;
      line-height: 1.5;
      margin-bottom: 24px;
      opacity: 0;
      transition: 0.1s;

      @media screen and (min-width:800px){
        text-align: center;
        line-height: 1.2;
        margin: 0;
        opacity: 1;
        width: 25%;
        font-size: 1.8rem;

        &:last-child{
          display: none;
        }

        &:hover{
          &::after{
            content: "";
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $cWhite;
            animation: width100 .5s forwards;
          }
        }
      }

      &::before {
        position: absolute;
        left: -20px;
        top: 30%;
        content: "";
        width: 10px;
        height: 10px;
        background-color: $cWhite;

        @media screen and (min-width:800px){
          display: none;
        }
      }
      a {
        color: $cWhite;
        text-decoration: none;
        font-size: 3rem;
        font-family: "Reggae One", cursive;
        span {
          display: block;
          font-size: 1.6rem;
          padding-left: 8px;
          font-family: "Paytone One", sans-serif;

          @media screen and (min-width:800px){
            padding: 2px;
          }

          &::before {
            content: "-";
            margin-right: 2px;
          }
        }
      }
    }
  }
}

@keyframes width100 {
  0%{
    width: 1%;
  }

  100%{
    width: 100%;
  }
}

.main__title {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 24px;

  &--inner {
    color: $cRed;
    font-size: 4rem;
    font-family: "Paytone One", sans-serif;

    @media screen and (min-width:600px){
      font-size: 5rem;
    }

    
    @media screen and (min-width:1000px){
      font-size: 5.5rem;
    }
  }
}

.swiper-container {
  width: 100%;
  max-width: 940px;
  height: 300px;
  margin: 0 auto;

  @media screen and (min-width:600px){
    height: 500px;
  }

  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      animation: scaleDown 2s;
    }
  }
}

@keyframes scaleDown {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.subtitle {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  z-index: 2;



  span {
    display: inline-block;
    background-color: $cBlack;
    font-size: 2.6rem;
    padding: 8px 16px;
    color: $cWhite;
    font-family: "Reggae One", cursive;
    white-space: nowrap;
    animation: slidein;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-duration: $i * .6s;
      }
    }



    @media screen and (min-width:600px){
     font-size: 3rem;
     width: 60%;

     &:first-child{
      width: 70%;
   }

    }

    @media screen and (min-width:1000px){
      font-size: 4rem;

    }

    

    &:first-child {
      margin-bottom: 8px;
    }

    &:last-child {
      animation: slidein 1.2s;
    }
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.container {
  width: 100%;
}
.block {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 120px;
  padding-top: 70px;

  &__title {
    position: relative;
    font-size: 2.3rem;
    color: $cRed;
    font-weight: 900;
    margin-bottom: 48px;
    text-align: center;
    font-family: "Reggae One", cursive;
    white-space: nowrap;

    @media screen and (min-width:600px){
      font-size: 3rem;
    }

    
    @media screen and (min-width:1000px){
      font-size: 5rem;
    }
    

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: 15px;
      height: 3px;
      background-color: rgb(255, 255, 255);
    }
  }
  

  .musicVideo{
    position: relative;
    width: 90%;
    max-width: 600px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 8px;

    @media screen and (min-width:600px){
      height: 350px;
      width: 90%;
    }

    @media screen and (min-width:1000px){
      width: 80%;  
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and (min-width:800px){
      flex-direction: row;
      flex-wrap: wrap;

    }

  }

  &__person--box {
    width: 90%;
    min-height: 400px;
    // background-color: $cWhite;
    padding: 16px;
    margin-bottom: 24px;
    box-shadow: 0px 0px 10px rgb(87, 83, 83);

    
    @media screen and (min-width:800px){
      width: 40%;
    }



    &:first-child {
      margin-left: -5px;
    }

    &:last-child {
      margin-left: 40px;
    }
  }
}

.person__name {
  font-size: 2.2rem;
  font-family: "Reggae One", cursive;
  margin-bottom: 8px;
  color: $cWhite;
  text-align: center;

  @media screen and (min-width:600px){
    font-size: 3rem;
  }

}

.person__inner {
  width: 100%;
  min-height: 350px;
  padding: 8px;

}

.person__img {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 16px;
  border-radius: 10px;
  

  @media screen and (min-width:600px){
    width: 70%;
    height: 270px;
    margin: 0 auto;
  }

  @media screen and (min-width:800px){
    width: 90%;
    height: 250px;
    margin: 0 auto;
  }

  

    &.inview {

      img{
        opacity: 1;
      }
    
      @include animation(
        $name: kf-img-show,
        $duration: .4s,
        $timing-function: ease-in-out,
        $fill-mode: none
      );
  


    }
  

  img {
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .subname {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    color: $cRed;
    font-size: 2.2rem;
    font-weight: 600;
    white-space: nowrap;
    font-family: "Reggae One", cursive;
    
  
    @media screen and (min-width:600px){
      font-size: 2.5rem;
    }
  
    @media screen and (min-width:1000px){
      font-size: 3rem;
    }


  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  50%{
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.person__text {
  padding: 8px;
  p {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
    color: $cWhite;

    @media screen and (min-width:600px){
      font-size: 1.8rem;
    }

    @media screen and (min-width:1000px){
      font-size: 2rem;
    }
    
    
  }

  
  @media screen and (min-width:1000px){
      width: 90%;
      margin: 0 auto;
  }
}

.box {
  background-color: $cRed;
  padding: 24px;
  margin-bottom: 40px;

  
  @media screen and (min-width:1000px){
    width: 60%;
    margin: 0 auto;
    padding: 24px;
    margin-bottom: 40px;
  }

  @for $i from 1 through 10 {
    &:nth-of-type(#{$i}) {
      .box__title {
        &::before {
          content: "#{$i},";
          font-family: "Reggae One", cursive;
          color: $cWhite;
          margin-right: 1px;
        }
      }
    }
  }

  &__title {
    font-size: 2.2rem;
    color: $cWhite;
    font-family: "Reggae One", cursive;
    margin-bottom: 8px;
    font-weight: 800;
    opacity: 0;

    
    @media screen and (min-width:1000px){
      text-align: center;
      font-size: 4rem;
    }


    &.inview {
      opacity: 1;
  
      & .char {
        display: inline-block;
      }
    }
  
    & .char {
      opacity: 0;
    }


  }

  .box__title.inview .char {
    @include animation(
      $name: kf-animate-chars,
      $duration: 0.5s,
      $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
      $fill-mode: both
    );
  
    @for $i from 1 through 30 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.04s;
      }
    }
  }
  
  @keyframes kf-animate-chars {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__title--sub{
    display: block;
    font-size: 1.6rem;
    color: $cWhite;
    margin-bottom: 16px;
    font-weight: 600;
  }

  &__text {
    padding: 8px;

    & > ul{
      padding: 8px;

      li{
        font-size: 1.8rem;
        color: $cWhite;
        line-height: 1.8;
        margin-bottom: 24px;
        font-weight: 700;
        text-align: justify;

        &::first-letter{
          display: inline-block;
          font-size: 3rem;
          text-shadow: 1px 1px 1px $cBlack;
          margin-right: 2px;
        }

       

        & .emphasis{
          position: relative;
          padding: 2px 4px;
          font-weight: 700;
          line-height: 1.8;
          font-size: 2rem;
  
          &::after{
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 1%;
            height: 3px;
            background-color: $cWhite;
            transition: 1s;
          }
          
         
          &.inview{
            &::after{
              width: 100%;
            }
          }
  
          
     
      
          
        }
      }
    }

    & > p {
      font-size: 1.6rem;
      line-height: 1.6;
      letter-spacing: 1.2px;
      text-align: justify;
      color: $cWhite;
      margin-bottom: 24px;
      font-weight: 700;

      & .emphasis{
        position: relative;
        padding: 2px 4px;
        font-weight: 700;
        line-height: 1.8;
        font-size: 1.8rem;
        

        &::after{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 1%;
          height: 100%;
          border-bottom: 3px solid #fff;
          transition: 1s;
        }
        
       
        &.inview{
          &::after{
            width: 100%;
          }
        }

        
   
    
        
      }

      
    @media screen and (min-width:600px){
      padding: 16px;
      font-size: 1.8rem;
    }
      
    @media screen and (min-width:1000px){
      padding: 16px;
      font-size: 2rem;
    }
      
    }

    &--lyrics{
      padding: 8px;
      margin: 0 auto;
      background-color: rgb(255, 255, 255);
      min-height: 200px;

      &-title{
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 8px;

        &::before{
          content: "ï¼Š";
          margin: 0px 2px;
        }
      }

      &-text{
        padding: 8px;
        font-family: 'Shippori Mincho B1', serif;
        font-weight: 600;

        p{
          font-size: 1.6rem;
          line-height: 1.6;

          @media screen and (min-width:1000px){
            font-size: 2.3rem;
          }

          span{
            color: $cRed;
            font-weight: 700;

          }
        }
        
      }

      .comment{
        font-size: 1.4rem;
        line-height: 1.5;
        text-align: justify;
      }

      .pink{
        color: $cBlack;
        border-bottom: 2px solid rgb(214, 71, 159);
      }
    }
  }
}


